*{
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    height: 100vh;
    background-color: rgba(122, 25, 201, 0.842);
}
#logo{
height: 50px;
}
#persona{
    height: 50px;
}
#menu{
    height: 50px;

}
.containerMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        gap: 15px;
}