
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(31, 31, 75);
  height: 100vh;
  width: 100%;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

#menuLateral #btn{
margin-top: 100%;
}
.container-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 95%;
  margin-right:150px;
}
#btn{
  display: flex;
  align-items: baseline;
  color: #fff;
  gap: 30px;
  justify-content: center;
}

:hover#register{
  cursor:pointer;
  color:rgb(151, 244, 10);
}
#title{
  width: 100%;
  font-size: 50pt;
  color: #fff;

}

#menuLateral{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 90%;
  margin-right: 10%;
  flex-direction: column;
  gap: 20%;


}
@media(max-width:900px) {

#title{
  font-size: 15pt;

}


}