:root{
  --planoDeFundo: rgb(17, 17, 46);
  --fonte:Verdana, Geneva, Tahoma, sans-serif;
  --corBtn:linear-gradient(100deg, rgb(198, 4, 216), rgb(242, 10, 138), rgb(255, 7, 123));
  --hoverbtn:rgb(0, 255, 0);
  
} 





*{
  margin: 0;
  padding: 0;
}
.content__login{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background:var(--planoDeFundo) ;
  
}
.content__login h1{
  font-family: var(--fonte);
  color: #fff;
}
.content__login form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background:var(--corBtn) ;
  height: 20em;
 width: 25em;
 border-radius: 25px;
 color: #fff;
 box-shadow: 0 0 15px  blue;
}
.content__login input {
  height: 100%;
  width: 100%;
  padding: 5px;
  border-radius: 25px;
}
.content__login #btn{

width:10em;
height: 3em;
}


#div__text__input{

  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
   margin-left: 10%;
}
#div__text__btn{
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 10%;
  color: #fff;
}
#voltar-login{
  margin-left: 25%;
}
